{
  "extends": ["airbnb-typescript", "plugin:prettier/recommended", "plugin:jest/recommended"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "import/named": "off",
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "parent", "sibling", "index"],
        "newlines-between": "never"
      }
    ],
    "import/prefer-default-export": "off",
    "jsx-a11y/accessible-emoji": "off",
    "no-console": "off",
    "no-underscore-dangle": "off",
    "react/jsx-curly-newline": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-wrap-multilines": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/quotes": "off"
  },
  "overrides": [
    {
      "files": ["**/*.tsx"],
      "rules": {
        "react/prop-types": "off"
      }
    },
    {
      "files": ["**/*.stories.tsx"],
      "rules": {
        "import/no-extraneous-dependencies": "off"
      }
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
